@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}
.App {
    max-width: 1440px;
    height: 100vh;
}

.header {
    background: url(../public/images/bg-header-desktop.svg);
    background-color: hsl(180, 29%, 50%);
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.header .header-card {
    width:70%;
    height: 70px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.header .header-card div {
    display: flex;
}
.header .header-card div h4{
    margin-left: 10px;
    color: hsl(180, 29%, 50%);
    height: 30px;
    width: 100px;
    border-radius: 4px;
    background: hsl(180, 52%, 96%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-card a {
    color: hsl(180, 29%, 50%);
    font-size: 18px;
}
.none {
    display: none !important;
}

@media screen and (max-width: 765px) {
    * {
        font-size: 16px;
    }
    .header {
        margin-bottom: 90px;
    }
    
    .header .header-card {
        height: auto;
        z-index: 1;
        width: 90%;
        bottom: -50px;
        padding: 10px;
        background-color: white;
    }
    
    .header .header-card div {
        flex-wrap: wrap;
        width: 80%;
        padding: 20px;

    }
    
.header .header-card div h4{
    margin: 6px;
    color: hsl(180, 29%, 50%);
    height: 30px;
    width: 89px;
    font-size: 17px;
    border-radius: 4px;
}
}